@import "fonts"
@import "libs"
@import "reset"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background: #f0f0f0
.img-responsive
	display: block
	max-width: 100%
	height: auto

header
	background-color: #ccc
	display: flex
	max-width: 1200px
	margin: auto
.container
	display: flex
	max-width: 1492px
	background: #444
	margin: auto
footer
	background-color: #ccc
	max-width: 1200px
	margin: auto
@import "media" // Всегда в конце
